<h1>New form</h1>

<form action="http://localhost:3000/square_root/results">
  <div>
    <label for="x">
      Enter a number
    </label>
    <input id="x" type = "text" name="x">
  </div>
  <button>Calculate square root</button>
</form>
