<h1>Add a Photo</h1>

<form action="/create_photo">
  <div>
    <label for="url">
      Image URL
    </label>
    <input id="url" type = "text" name="url"><br />
    <label for="cap">
      Caption
    </label>
    <input id="cap" type = "text" name="cap">
  </div>
  <button>Create Photo</button>
</form>
